<%= stylesheet_link_tag 'search', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="main-container">
    <h1>ジャンルを選ぶ</h1>
    <div class="container">
        <div class="content">
                <%= link_to "J-POP",  songs_jpop_path %>
            </div>

        <div class="content">
                <%= link_to "邦楽ロック",  songs_hourock_path %>
            </div>

        <div class="content">
                <%= link_to "K-POP",  songs_kpop_path %>
            </div>
        

        <div class="content">
                <%= link_to "アニソン",  songs_anison_path %>
            </div>
        

        <div class="content">
                <%= link_to "ボーカロイド",  songs_vocaloid_path %>
            </div>
        

        <div class="content">
            <%= link_to "ヒップホップ・ラップ",  songs_hiphop_path %>
            </div>
        

        <div class="content">
                <%= link_to "R&B",  songs_randb_path %>
            </div>
        

        <div class="content">
                <%= link_to "洋楽ポップ", songs_yougakupop_path %>
            </div>
        

        <div class="content">
                <%= link_to "洋楽ロック",  songs_yougakurock_path %>
            </div>
        

        <div class="content">
                <%= link_to "クラシック",  songs_classic_path %>
            </div>
    </div>
</div>

<footer>
    <small>©Kimi Sekine</small>
</footer>